#Scite backup
*~

#vim swap
*.swp

*.BAK
*.bak

deviceloaders
docs
lumen
nixio
sample-confs
config.ld
nixio.so
toribio.lua
toribio-go.lua
tasks/axlogger.lua
tasks/listener_bblback.lua
tasks/rc_bot.lua
tasks/ax_set_serial_speed.lua
tasks/listener_gpsd.lua
tasks/rc_control.lua
tasks/bobot_server.lua
tasks/listener_joystick.lua
tasks/rcp_bot.lua
tasks/bootia.lua
tasks/listener_mouse.lua
tasks/butia-bump.lua
tasks/listener_openmoko_accel.lua
tasks/tutorial.lua
tasks/cam.lua
tasks/listener_openmoko.lua
tasks/wbctrl.lua
tasks/inotifier.lua
tasks/ran
tasks/xy.lua
tasks/listener_accelxo.lua
tasks/ran_pep.lua
tasks/listener_ax.lua
tasks/ran_rmoon.lua

